@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";


@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.font-family-1 {
  font-family: "Orbitron Variable", sans-serif;
}

.font-family-2 {
  font-family: "Alexandria Variable", sans-serif;
}

.font-family-3 {
  font-family: "Anton", sans-serif;
}

.font-family-4 {
  font-family: "Antonio Variable", sans-serif;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hover-brightness:hover {
  filter: brightness(80%);
}

.buy-now-button {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s;
}

.card:hover .buy-now-button {
  visibility: visible;
  opacity: 1;
}

.position-relative {
  position: relative;
}

.vector-image1 {
  position: absolute;
  top: 50px; 
  left: 100px; 
  width: 50px; 
  height: 50px; 
}

.vector-image2 {
  position: absolute;
  top: 50px; 
  right: 100px; 
  width: 50px; 
  height: 50px; 
}
.vector-image3 {
  position: absolute;
  bottom: 50px; 
  left: 100px; 
  width: 50px; 
  height: 50px; 
}
.vector-image4 {
  position: absolute;
  bottom: 50px; 
  right: 100px; 
  width: 50px; 
  height: 50px; 
}

.vector-image1S {
  position: absolute;
  top: 20px; 
  left: 20px; 
  width: 30px; 
  height: 30px; 
}

.vector-image2S {
  position: absolute;
  top: 20px; 
  right: 20px; 
  width: 30px; 
  height: 30px; 
}
.vector-image3S {
  position: absolute;
  bottom: 30px; 
  left: 20px; 
  width: 30px; 
  height: 30px; 
}
.vector-image4S {
  position: absolute;
  bottom: 30px; 
  right: 20px; 
  width: 30px; 
  height: 30px; 
}

.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}

@media (min-width: 640px) and (max-width: 1024px) {
.fast h2{
  text-align: left;
}
.fast p{
  text-align: left;
  width: 100%;
}
}




@keyframes moveLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.animate-moveLeft {
  display: flex;
  white-space: nowrap;
  animation: moveLeft 10s linear infinite;
}


.responsive-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center content by default (for mobile screens) */
  text-align: center; /* Center text by default (for mobile screens) */
}

@media (min-width: 768px) { /* Apply styles for tablets and larger screens */
  .responsive-container {
    align-items: flex-start; /* Align content to the left */
    text-align: left;
    width: 340px; /* Maintain fixed width for tablet/laptop */
  }
}

.responsive-button {
  margin-left: auto;
  margin-right: auto; /* Center the button on mobile screens */
  width: 55%; /* Adjust button width */
}

@media (min-width: 768px) {
  .responsive-button {
    margin-left: 0; /* Align button to the left on tablet/laptop */
    width: 60%;
  }
}

@media (min-width: 1024px) {
  .responsive-button {
     width: 50%;
  }

}

@media (min-width: 1440px) { 
  .responsive-container {
    width: 383px;
  }
}