@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.font-family-1 {
  font-family: "Orbitron Variable", sans-serif;
}

.font-family-2 {
  font-family: "Alexandria Variable", sans-serif;
}

.font-family-3 {
  font-family: "Anton", sans-serif;
}

.font-family-4 {
  font-family: "Antonio Variable", sans-serif;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hover-brightness:hover {
  filter: brightness(80%);
}

.buy-now-button {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s;
}

.card:hover .buy-now-button {
  visibility: visible;
  opacity: 1;
}

.position-relative {
  position: relative;
}

.vector-image1 {
  position: absolute;
  top: 50px;
  left: 50px;
  width: 50px;
  height: 50px;
}

.vector-image2 {
  position: absolute;
  top: 50px;
  right: 50px;
  width: 50px;
  height: 50px;
}
.vector-image3 {
  position: absolute;
  bottom: 50px;
  left: 50px;
  width: 50px;
  height: 50px;
}
.vector-image4 {
  position: absolute;
  bottom: 50px;
  right: 50px;
  width: 50px;
  height: 50px;
}

.vector-image1S {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 30px;
  height: 30px;
}

.vector-image2S {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 30px;
  height: 30px;
}
.vector-image3S {
  position: absolute;
  bottom: 30px;
  left: 20px;
  width: 30px;
  height: 30px;
}
.vector-image4S {
  position: absolute;
  bottom: 30px;
  right: 20px;
  width: 30px;
  height: 30px;
}

.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}

.gradient-hr {
  border: 1.37px solid;
  border-image-source: linear-gradient(
    90deg,
    rgba(41, 45, 50, 0.1) 0.44%,
    #292d32 50%,
    rgba(41, 45, 50, 0.1) 100%
  );
  border-image-slice: 1;
  background-color: transparent;
  height: 0;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-md-2,
.col-md-9 {
  flex: 1;
  min-height: 50vh;
}

.disabled-link {
  cursor: not-allowed;
}

.disabled-link:hover {
  cursor: not-allowed;
}

.dropdown-item:active,
.dropdown-item:focus,
.dropdown-item:hover {
  background-color: transparent;
}

.logout-button:active,
.logout-button:focus {
  background-color: transparent !important;
  outline: none !important;
  box-shadow: none !important;
}

@media (min-width: 640px) and (max-width: 2000px) {
  .fast h2 {
    text-align: left !important;
  
  }
  .fast p {
    text-align: left !important;
    width: 100%;
  }
}

@media (max-width: 639px) {
  .fast h2 {
    text-align: center;
  }
  .fast p {
    text-align: center;
    width: 100%;
  }
}


@keyframes moveLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.animate-moveLeft {
  display: flex;
  white-space: nowrap;
  animation: moveLeft 10s linear infinite;
}

@media (min-width: 992px) {
  .card {
    width: 280px;
  }
}

@media (min-width: 1024px) {
  .card {
    width: 200px;
  }
}

@media (min-width: 1074px) {
  .card {
    width: 210px;
  }
}

@media (min-width: 1100px) {
  .card {
    width: 220px;
  }
}

@media (min-width: 1150px) {
  .card {
    width: 230px;
  }
}

@media (min-width: 1200px) {
  .card {
    width: 270px;
  }
}

@media (min-width: 1280px) {
  .card {
    width: 280px;
  }
}

@media (min-width: 1400px) {
  .card {
    width: 315px;
  }
}

@media (min-width: 1420px) {
  .blogImg {
    min-width: 550px;
  }
  .card {
    width: 320px;
  }
}

@media (min-width: 1455px) {
  .blogImg {
    min-width: 560px;
  }
  .card {
    width: 325px;
  }

}

@media (min-width: 1465px) {
  .blogImg {
    min-width: 570px;
  }
  .card {
    width: 330px;
  }
}

@media (min-width: 1481px) {
  .blogImg {
    min-width: 580px;
  }
  .card {
    width: 335px;
  }
}

@media (min-width: 1500px) {
  .blogImg {
    min-width: 590px;
  }
  .card {
    width: 340px;
  }

}

.text-align-custom {
  text-align: center;
}

/* General button styles */
.custom-button {
  padding: 0.5rem 1.5rem;
  border-radius: 0.375rem;
  width: 100%;
  font-weight: 500;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

/* Add To Cart Button */
.add-to-cart {
  background-color: white;
  color: #01497C;
  border: 1px solid #01497C;
}

.add-to-cart:hover {
  background-color: #01497C;
  color: white;
  border-color: #01497C;
}

/* Shop Now Button */
.shop-now {
  background-color: #01497C;
  color: white;
  border: 1px solid #01497C;
}

.shop-now:hover {
  background-color: white;
  color: #01497C;
  border-color: #01497C;
}


.tom-container {
  padding: 1rem 0.75rem; /* py-4 px-3 */
  width: 91.6667%; /* w-11/12 */
  margin-left: auto;
  margin-right: auto; /* mx-auto */

  /* Medium screens (md) */
  @media (min-width: 768px) {
    width: 95%; /* md:w-6/12 */
    margin-left: 15px; /* md:mx-0 */
    margin-right: 0;
  }

  @media (min-width: 1024px) {
    margin-left: 65px;
    width: 45%;
  }
  @media (min-width: 1440px) {
    margin-left: 75px;
  }
  @media (min-width: 2560px) {
    margin-left: 80px;
  }

}

.text-mob {
  text-align: center;
}

@media (min-width: 768px) { /* MD breakpoint */
  .text-mob {
    text-align: left;
  }
}

.link-container {
  display: flex;
  align-items: center;
  justify-content: center; /* Default */
}

@media (min-width: 1024px) {
  .link-container {
    justify-content: flex-start; /* Align to the left on lg screens and up */
    text-align: start;
  }
  .texta {
    text-align: left;
  }
}
