@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.font-family-1 {
  font-family: "Orbitron Variable", sans-serif;
}

.font-family-2 {
  font-family: "Alexandria Variable", sans-serif;
}

.font-family-3 {
  font-family: "Anton", sans-serif;
}

.font-family-4 {
  font-family: "Antonio Variable", sans-serif;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hover-brightness:hover {
  filter: brightness(80%);
}

.buy-now-button {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s;
}

.card:hover .buy-now-button {
  visibility: visible;
  opacity: 1;
}

.position-relative {
  position: relative;
}

.vector-image1 {
  position: absolute;
  top: 50px;
  left: 100px;
  width: 50px;
  height: 50px;
}

.vector-image2 {
  position: absolute;
  top: 50px;
  right: 100px;
  width: 50px;
  height: 50px;
}
.vector-image3 {
  position: absolute;
  bottom: 50px;
  left: 100px;
  width: 50px;
  height: 50px;
}
.vector-image4 {
  position: absolute;
  bottom: 50px;
  right: 100px;
  width: 50px;
  height: 50px;
}

.vector-image1S {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 30px;
  height: 30px;
}

.vector-image2S {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 30px;
  height: 30px;
}
.vector-image3S {
  position: absolute;
  bottom: 30px;
  left: 20px;
  width: 30px;
  height: 30px;
}
.vector-image4S {
  position: absolute;
  bottom: 30px;
  right: 20px;
  width: 30px;
  height: 30px;
}

.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}



@media (min-width: 1420px) {
  .blogImg {
    min-width: 550px;
  }
}

@media (min-width: 1455px) {
  .blogImg {
    min-width: 560px;
  }
}

@media (min-width: 1465px) {
  .blogImg {
    min-width: 570px;
  }
}

@media (min-width: 1481px) {
  .blogImg {
    min-width: 580px;
  }
}

@media (min-width: 1500px) {
  .blogImg {
    min-width: 590px;
  }
}
